<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Biblioteca</title>
</head>
<body>

<div class=" offset-3 col-md-6">
    <table id="tabela" class="able table-dark col-5 offset-1">
        <thead>
        <tr>
            <td><b>Livro</b></td>
            <td><b>Autores</b></td>
            <td><b>Edição</b></td>
            <td><b>Ano</b></td>
            <td scope="col"><a class="btn btn-primary" href="/livros/cadastrar">Novo Livro</a></td>
        </tr>
        </thead>
        <tbody>
        <th:block>
            <tr th:each="item: ${acervo}">
                <td th:text="${item.getTitulo()}"></td>
                <td th:text="${item.getAutores()}"></td>
                <td th:text="${item.getEdicao()}"></td>
                <td th:text="${item.getAno()}"></td>
                <form th:method="get" th:action="@{/livros/emprestar/${item.getIdLivro()}}">
                    <td>
                        <div class="form-group">
                            <button type="submit" class="btn btn-sucsses">Emprestar</button>
                        </div>
                    </td>
                </form>
            </tr>
        </th:block>
        </tbody>
    </table>

</div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
