<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Biblioteca</title>
</head>
<body>

<th:block th:if="${#session} and ${#session.getValue('usuario')}">
    <a href="/usuario/logout" class="btn btn-primary">Logout</a>
    <a href="usuario/editar" class="btn btn-info">Editar</a>
    <th:block th:if="${#session.getAttribute('usuario').getTipoUsuario.name() == 'SUPER'}">
        <a href="usuario/listar" class="btn btn-success">Listar Usuários</a>

    </th:block>
</th:block>

<div class="offset-3 col-md-8 ">
    <div class="col-md-6">
        <form th:action="@{livros/buscar}" th:method="get">
            <div class="input-group mb-3">
                <input type="text" name="texto" id="texto" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
            </div>
        </form>
    </div>


    <div class=" col-md-12">
        <table id="tabela" class="able table-dark">
            <thead>
            <tr>
                <td><b>Livro</b></td>
                <td><b>Autores</b></td>
                <td><b>Edição</b></td>
                <td><b>Ano</b></td>
                <td><b>ISBN</b></td>
                <div th:if="${#session} and ${#session.getValue('usuario')} and ${#session.getValue('usuario').getTipoUsuario().name() == 'SUPER'}">
                    <td scope="col"><a class="btn btn-primary" href="/livros/cadastro">Novo Livro</a></td>
                </div>
            </tr>
            </thead>
            <tbody>
            <th:block>
                <tr th:each="item: ${acervo}">
                    <td th:text="${item.getTitulo()}"></td>
                    <td th:text="${item.getAutores()}"></td>
                    <td th:text="${item.getEdicao()}"></td>
                    <td th:text="${item.getAno()}"></td>
                    <td th:text="${item.getIsbn()}"></td>
                    <th:block th:if="${!item.isEmprestado()}">
                        <form th:method="get"
                              th:action="@{livros/emprestar}"
                        >
                            <td>
                                <div class="form-group" >
                                    <button type="submit" class="btn btn-success">Emprestar</button>
                                    <input type="number" name="idLivro" id="idLivro" th:value="${item.getIdLivro()}" hidden>
                                    <input hidden type="number" name="idUsuario" id="idUsuario" th:value="${#session.getAttribute('usuario').getIdUsuario()}">
                                </div>

                            </td>
                        </form>

                    </th:block>
                    <th:block th:unless="${!item.isEmprestado()}">
                        <th:block th:if="${item.getEmprestadoPara().getIdUsuario() == #session.getAttribute('usuario').getIdUsuario()}">

                            <form
                                    method="get"
                                    th:action="@{livros/devolver}"
                            >
                                <td>
                                    <div class="form-group" >
                                        <button type="submit" class="btn btn-danger">Devolver</button>
                                        <input type="hidden" name="idLivro" id="idLivro" th:value="${item.getIdLivro()}">

                                    </div>
                                </td>
                            </form>
                        </th:block>

                        <th:block th:unless="${item.getEmprestadoPara().getIdUsuario() == #session.getAttribute('usuario').getIdUsuario()}">
                            <form th:if="${item.getReservas().contains(#session.getAttribute('usuario'))}"
                                  method="get"
                                  th:action="@{livros/cancelar}"
                            >
                                <td>
                                    <div class="form-group" >
                                        <button type="submit" class="btn btn-warning">Cancelar Reserva</button>
                                        <input type="hidden" name="idLivro" id="idLivro" th:value="${item.getIdLivro()}">

                                    </div>
                                </td>
                            </form>

                            <form th:unless="${item.getReservas().contains(#session.getAttribute('usuario'))}"
                                  method="get"
                                  th:action="@{livros/reservar}"
                            >
                                <td>
                                    <div class="form-group" >
                                        <button type="submit" class="btn btn-warning">Reservar</button>
                                        <input type="hidden" name="idLivro" id="idLivro" th:value="${item.getIdLivro()}">

                                    </div>
                                </td>
                            </form>
                        </th:block>
                    </th:block>
                </tr>
            </th:block>
            </tbody>
        </table>

    </div>

</div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
